initialize() {
  initializeSLiMModelType('%typ%');
  initialiseSLiMOptions(dimensionality = '%dim%', periodicity = '%per%');
  initialiseSex('%sex%')
  initializeMutationRate(%mu%);
  initializeRecombinationRate(%rho%);

  // Add mutation types
  // Add genomic element types
  // Add genomic elements
  // Add interaction types

}
